<% include header %>

<div class="container">

  <div class="page-header">
    <h2>添付ファイル</h2>
  </div>

  <div class="row">

    <div class="panel panel-default">
      <div class="panel-heading">添付ファイルの追加</div>
      <div class="panel-body">
        <% include attachment-upload %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">添付ファイル一覧</div>
      <div class="panel-body">
        <p class="text-muted">
          アップロード済のファイルが以下に表示されます。
          標準でアップロードされているMicrosoft WORDファイル「test.doc」には開封追跡用タグが実装されています。
          添付ファイルの開封を追跡したい場合は、このファイルをダウンロードし、編集した後、アップロードしてください。
        </p>
      </div>
      <% include attachment-list %>
    </div>

  </div>
</div>

<% include footer %>
