<form method="POST" enctype="multipart/form-data" action="/attachment/upload">
  <div class="form-group">
    <label for="">ファイルの選択</label>
    <input type="file" name="attachment" />
  </div>
  <div class="form-group">
    <label for="">ファイル名を変更する場合は入力</label>
    <input class="form-control" type="text" name="name" />
  </div>
  <input class="btn btn-default" type="submit" />
</form>
