<% if(attachments){ %>
<p>
  <input type="radio" name="hasAttachment" value="true"> あり
  <input type="radio" name="hasAttachment" value="false" checked="checked"> なし
</p>
<select class="form-control" id="attachment-select" name="attachmentId" disabled="disabled">
  <% attachments.forEach(function(t){ %>
  <option value="<%= t.id %>"><%= t.name %></option>
  <% }) %>
</select>
<% } %>
