<table class="table">
  <tr>
    <th>ファイル名</th>
  </tr>
<% if(attachments){ %>
  <% attachments.forEach(function(attachment){ %>
  <tr>
    <td>
      <%= attachment.name %>
    </td>
    <td>
      <a href="/attachment/download/<%= attachment.id %>">ダウンロード</a>
    </td>
  </tr>
<% }) %>
<% } %>
</table>
