<% include header %>

<div class="container">
  <div class="row">

  <div class="page-header">
    <h2><%= title %></h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"> メールクライアント</div>
    <div class="panel-body">
      <% include email-client-config-set %>
    </div>
  </div>

  </div>
</div>

<% include footer %>
