
<p>
本システムの訓練に使用する、宛先グループ、メールテンプレートなどをひとまとめにしたものをシナリオといいます。訓練メールの一斉送信や開封率等の統計情報の確認、実行スケジュールはこのシナリオ単位で設定することができます。
</p>

<hr>

<div class="text-muted">

  <h5>① シナリオの追加</h5>

  <p>
  <small>
  「<b>シナリオ</b>」からシナリオを追加します。 訓練メールに使用するメールテンプレート、送信元アドレス、添付ファイルの有無、受信者グループを関連付けて登録します。その他に、送信元アドレスを偽装する事もできます。追加したシナリオは「統計」ボタンから現在のメール開封率等の状況を宛先メールアドレスごとに確認できます。
  </small>
  </p>

  <h5>② 実行スケジュールの追加</h5>

  <p>
  <small>
「<b>スケジュール</b>」から実行スケジュールを管理します。送信スケジュール登録は１シナリオ毎に一つ設定可能です。
  </small>
  </p>

</div>

<hr>

