<% include header %>

<div class="container">

  <div class="page-header">
    <h2>標的型攻撃Email訓練サービス</h2>
  </div>

  <div class="row">

    <div class="panel panel-default">
      <div class="panel-heading">宛先</div>
      <div class="panel-body">
        <% include dashboard-introduction-destination %>
        <ul class="nav nav-pills">
          <li><a href="/user/mgmt">すべての宛先 
          <span class="badge"><%= count.users %></span></a></li>
          <li><a href="/email_group/mgmt">宛先グループ 
          <span class="badge"><%= count.groups %></span></a></li>
        </ul>
      </div>
    </div>

    <% if(count.groups >= 1){ %>
    <div class="panel panel-default">
      <div class="panel-heading">メール</div>
      <div class="panel-body">
        <% include dashboard-introduction-mail %>
        <ul class="nav nav-pills">
          <li><a href="/template/mgmt">メールテンプレート 
          <span class="badge"><%= count.templates %></span></a></li>
          <li><a href="/attachment/mgmt">添付ファイル 
          <span class="badge"><%= count.attachments %></span></a></li>
        </ul>
      </div>
    </div>
    <% } %>

    <% if(count.groups >= 1 && count.templates >= 1 && config.host !== ''){ %>
    <div class="panel panel-default">
      <div class="panel-heading">シナリオ</div>
      <div class="panel-body">
        <% include dashboard-introduction-scenario %>
        <ul class="nav nav-pills">
          <li><a href="/scenario/mgmt">シナリオ 
          <span class="badge"><%= count.scenarios %></span></a></li>
          <li><a href="/schedule/mgmt">スケジュール 
          <span class="badge"><%= count.at + count.cron %></span></a></li>
        </ul>
      </div>
    </div>
    <% } %>

    <div class="panel panel-default">
      <div class="panel-heading">設定</div>
      <div class="panel-body">
        <% include dashboard-introduction-config %>
      </div>
      <% include email-client-config-list %>
      <div class="panel-body">
        <a class="btn btn-default" href="/config">編集</a>
      </div>
    </div>

  </div>
</div>

</body>
</html>

