
<p>
訓練メールに使用するメールの作成、編集を行います。必要に応じて添付ファイルの追加を行います。
</p>

<hr>

<div class="text-muted">

  <h5>① メールテンプレートを追加</h5>

  <p>
  <small>
  「<b>メールテンプレート</b>」からメールテンプレートを追加します。既存のサンプルテンプレートを使用する場合には追加は不要ですが、サンプルを複製して追加することもできます。宛先メールアドレスに依存する、部署名や名前等の文字列や、開封追跡、URLクリック追跡機能を追加するには、メール本文に専用のタグを追加します。
  </small>
  </p>

  <h5>② 添付ファイルの追加</h5>

  <p>
  <small>
  任意ですが、「<b>添付ファイル</b>」から添付ファイルを追加することができます。添付ファイルの開封を追跡するには既存のサンプルファイルを使用するか、ダウンロードして編集後、アップロードしてお使いください。
  </small>
  </p>

</div>

<hr>

