<p>
本システムからメールを送信する対象者情報（メールアドレス、氏名、部署）の登録、受信者グループの作成を行います。
</p>

<hr>

<div class="text-muted">

  <h5>① 訓練の対象となる宛先情報を追加</h5>

  <p>
  <small>
  「<b>すべての宛先</b>」から訓練メールを送信する対象者情報（メールアドレス、氏名、部署）の登録、編集を行います。
  </small>
  </p>

  <h5>② 訓練メールの宛先リストを追加</h5>

  <p>
  <small>
  上記で登録した宛先情報を「<b>宛先グループ</b>」からグループ化します。グループは、訓練メールを一斉送信する宛先リストとして使用するため、登録は必須です。
  </small>
  </p>

</div>

<hr>

