<% include header %>

<div class="container">
  <div class="row">

    <div class="page-header">
      <h2><%= title %></h2>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">宛先グループの追加</div>
      <div class="panel-body">
        <p class="text-muted">
          宛先グループは部署または課単位で追加します。
          グループに含めたい宛先の所属する部署を選択し、<b>確認</b>をクリックします。
          確認画面では、グループから除外する宛先を選択することもできます。
        </p>
        <% include emailgroup-add %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">宛先グループ一覧</div>
      <div class="panel-body">
        <p>
          グループ名をクリックすることで、登録されている宛先を確認することができます。
        </p>
      </div>
      <% include emailgroup-list %>
    </div>

  </div>
</div>

<% include footer %>
