<% include header %>
<div class="container">
  <div class="row">

    <div class="page-header">
      <h2> <%= title %> </h2>
    </div>

    <form action="/email_group/add" method="POST" id="emailgroup-add-form">

      <p>
        追加される宛先を確認し、問題なければ確定をクリックしてください。
        グループから除外する宛先はチェックを外してください。
      </p>
      <p>
        <input type="submit" class="btn btn-default" value="確定">
      </p>

      <hr>

      <h3>グループ名</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= name %>
        </div>
      </div>

      <h3>選択ユーザー</h3>
      <div class="panel panel-default">
        <% include user-list %>
      </div>
      <input type="hidden" name="name" value="<%= name %>">
      <% division1.length && division1.forEach(function(d){ %>
        <input type="hidden" name="division1" value="<%= d %>">
      <% }) %>
      <% division2.length && division2.forEach(function(d){ %>
        <input type="hidden" name="division2" value="<%= d %>">
      <% }) %>
      <input type="submit" class="btn btn-default" value="確定">
    </form>

  </div>
</div>

<% include footer %>
