<table class="table">
<% if(groups){ %>
  <tr>
    <th></th>
    <th>名前</th>
    <th>登録数</th>
  </tr>
<% Object.keys(groups).forEach(function(gname){ %>
  <tr>
    <td></td>
    <td>
      <a href="/email_group/<%= gname %>/mgmt">
        <%= gname %>
      </a>
    </td>
    <td>
      <b><%= groups[gname].length %></b>
    </td>
  </tr>
<% }) %>
<% } %>
</table>
