<form action="/email_group/add/confirm" method="POST">

  <div class="form-group">
    <label>グループ名</label>
    <input class="form-control" type="text" name="name">
  </div>

  <div class="form-group">
    <label for="">部署</label>
    <p>
    <% div1.forEach(function(d){ %>
    <input type="checkbox" name="division1" value="<%= d %>"> <%= d %> 
    <% })%>
    </p>
    <label for="">課</label>
    <p>
    <% div2.forEach(function(d){ %>
    <input type="checkbox" name="division2" value="<%= d %>"> <%= d %> 
    <% })%>
    </p>
  </div>

  <input class="btn btn-default" type="submit" value="確認"/>

</form>
