<% if(groups){ %>
<select class="form-control" id="" name="groupId">
  <% Object.keys(groups).forEach(function(gname){ %>
  <option value="<%= gname %>"><%= gname %></option>
  <% }) %>
</select>
<% } %>
