<table class="table">
  <tr>
    <th>SMTPサーバー</th>
    <td><%= config.emailClient.host %></td>
  </tr>
  <tr>
    <th>ポート</th>
    <td><%= config.emailClient.port %></td>
  </tr>
  <tr>
    <th>SSL</th>
    <td><%= config.emailClient.secure %></td>
  </tr>
  <tr>
    <th>ユーザー名</th>
    <td><%= config.emailClient.user %></td>
  </tr>
  <tr>
    <th>パスワード</th>
    <% if(config.emailClient.pass && config.emailClient.pass.length){ %>
      <td>設定済</td>
    <% }else{ %>
      <td class="text-danger">未設定</td>
    <% } %>
  </tr>
</table>
