<form method="POST" action="/config/email_client/modify">
  <div class="form-group">
    <label for="">SMTPサーバー</label>
    <input name="host" class="form-control" type="" value="<%= config.emailClient.host %>">
  </div>
  <div class="form-group">
    <label for="">ポート</label>
    <input name="port" class="form-control" type="" value="<%= config.emailClient.port %>">
  </div>
  <div class="form-group">
    <label for="">SSL</label>
    <p>
      <input name="secure" value="true" type="radio" checked="checked">
      使用する
      <input name="secure" value="false" type="radio">
      使用しない
    </p>
  </div>
  <div class="form-group">
    <label for="">ユーザー名</label>
    <input name="user" class="form-control" type="" value="<%= config.emailClient.user %>">
  </div>
  <div class="form-group">
    <label for="">パスワード</label>
    <input name="pass" class="form-control" type="password" value="<%= config.emailClient.pass %>">
  </div>
  <input type="submit" class="btn btn-default" value="設定">
</form>
