<% include header %>

<div class="container">

  <div class="page-header">
    <h2> <%= title %> </h2>
  </div>

  <div class="row">
    <% if(errors.length > 0){ %>
    <% errors.forEach(function(err){ %>

    <% if(err.name === ''){ %>
    <div class="alert alert-danger">
    </div>
    <% } %>

    <% if(err.name === 'SCHEDULE_DUPLICATED'){ %>
    <div class="alert alert-danger">
      追加できるスケジュールはシナリオに付き、1つまでです。
    </div>
    <% } %>

    <% if(err.name === 'INVALID_DATE'){ %>
    <div class="alert alert-danger">
      日時が不正です。
    </div>
    <% } %>

    <% if(err.name === 'FILE_REQUIRED'){ %>
    <div class="alert alert-danger">
      ファイルが不正です。
    </div>
    <% } %>

    <% if(err.name === 'INPUT_DUPLICATED'){ %>
      <% err.value.forEach(function(v){ %>
      <div class="alert alert-danger">
        <%= v %>は既に使用されています。
      </div>
      <% }) %>
    <% } %>

    <% if(err.name === 'INPUT_REQUIRED'){ %>
      <% err.value.forEach(function(v){ %>
      <div class="alert alert-danger">
        <%= v %>の入力は必須です。
      </div>
      <% }) %>
    <% } %>

    <% if(err.name === 'MAILCLIENT_VERIFY_FAILED'){ %>
    <div class="alert alert-danger">
      メールサーバーの認証に失敗しました。メールクライアント設定を確認してください。
    </div>
    <% } %>

    <% }) %>
    <% } %>
  </div>

  <a href="javascript:history.back();">戻る</a>
</div>

