  <div class="container">
    <div class="row">
      <a href="/">TOPへ</a>
    </div>
  </div>

  <script src="/script/jquery-2.2.0.min.js"></script>
  <script src="/script/client.js"></script>
</body>
</html>
