<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style/style.css">
  <title></title>
</head>
<body>

  <form method="POST" action="/send">
    <input type="submit" />
    <% if(users.length !== 0){ %>
    <table>
      <tr>
        <th></th>
        <th>#</th>
        <th>姓</th>
        <th>名</th>
        <th>mail</th>
        <th>部署</th>
      </tr>
      <% users.forEach(function(user, i){ %>
      <% if(user){ %>
      <tr>
        <td>
          <input type="checkbox" name="emails" value="<%= user.email %>" />
        </td>
        <td><%= i %></td>
        <td><%= user.lastName %></td>
        <td><%= user.firstName %></td>
        <td><%= user.email %></td>
        <td><%= user.department %></td>
      </tr>
      <% } %>
      <% }) %>
    </table>
    <% } %>
  </form>

</body>
</html>
