<% include header %>

<div class="container">

  <div class="page-header">
    <h2><%= title %></h2>
  </div>

  <div class="row">

    <div class="panel panel-default">
      <div class="panel-heading">シナリオの追加</div>
      <div class="panel-body">
        <% include scenario-add %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">シナリオ一覧</div>
      <% include scenario-list %>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">統計のダウンロード</div>
      <div class="panel-body">
        <p>
          全シナリオの統計データをCSV形式で一括ダウンロードすることができます。
        </p>
        <a class="btn btn-default" href="/statistics/download/統計データ.csv">ダウンロード</a>
      </div>
    </div>

  </div>
</div>

<% include footer %>
