<% include header %>

<div class="container">
  <div class="row">

  <div class="page-header">
    <h2><%= title %></h2>
  </div>

  <p>
    内容を確認し、問題なければ下記の送信ボタンをクリックしてください。
  </p>
  <p>
    <form method="POST" action="/scenario/send">
      <input type="hidden" name="scenarioId" value="<%= scenario.id %>">
      <input class="btn btn-default" type="submit" value="送信">
    </form>
  </p>

  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th>シナリオ名</th>
        <td><%= scenario.name %></td>
      </tr>
      <tr>
        <th>送信元</th>
        <td><%= scenario.source %></td>
      </tr>
      <tr>
        <th>テンプレート</th>
        <td>
          <b>件名: <%= template.subject %></b> <br>
          <%- template.text.replace(/\n/g, '<br />') %>
        </td>
      </tr>
      <tr>
        <th>添付ファイル</th>
        <td><%= attachment.name %></td>
      </tr>
      <tr>
        <th>宛先</th>
        <td>
          <% group.users.forEach(function(u){ %>
            <%= u.email %><br>
          <% }) %>
        </td>
      </tr>
    </table>
  </div>

  </div>
</div>

<% include footer %>
