<% if(scenarios){ %>
<table class="table">
  <tr>
    <th>名前</th>
    <th>宛先グループ</th>
    <th>メールテンプレート</th>
    <th></th>
    <th></th>
  </tr>
<% scenarios.forEach(function(scenario){ %>
<tr>
  <td> <%= scenario.name %> </td>
  <td> <%= scenario.group.name %> </td>
  <td> <%= scenario.template.name %> </td>
  <td>
      <a class="btn btn-default btn-xs" href="/scenario/<%= scenario.id %>/send/confirm">すぐ実行</a>
    </form>
  </td>
  <td>
    <a class="btn btn-xs btn-default" href="/statistics/<%=scenario.id %>/mgmt">統計</a>
    <a class="btn btn-xs btn-default" href="/scenario/<%=scenario.id %>/sent">送信結果</a>
  </td>
</tr>
<% }) %>
<% } %>
</table>
