<% include header %>

<div class="container">
  <div class="row">

  <div class="page-header">
    <% if(histories.length){ %>
      <h2><%= title %>: <%= histories[0].scenarioName %></h2>
    <% }else{ %>
      <h2><%= title %></h2>
    <% } %>
  </div>

  <div class="panel-body">
    <p class="text-muted">
      最新の送信結果を見るには、画面を更新してください。
    </p>
  </div>

    <% var prev = -1;%>
    <% histories.forEach(function(h){ %>
      <% if(prev === -1){ %>
      <div class="panel panel-default">
          <div class="panel-heading">送信 <%= h.attempt %> 回目</div>
        <table class="table">
        <tr>
          <th>姓</th>
          <th>名</th>
          <th>メールアドレス</th>
          <th>送信日時</th>
          <th>送信結果</th>
        </tr>
      <% }else if(prev !== h.attempt){ %>
        </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">送信 <%= h.attempt %> 回目</div>
        <table class="table">
        <tr>
          <th>姓</th>
          <th>名</th>
          <th>メールアドレス</th>
          <th>送信日時</th>
          <th>送信結果</th>
        </tr>
      <% } %>
        <tr>
          <td><%= h.lastname %></td>
          <td><%= h.firstname %></td>
          <td><%= h.email %></td>
          <td><%= h.sent %></td>
          <td><%= h.result %></td>
        </tr>
    <% prev = h.attempt; %>
    <% }) %>
  </table>
</div>

  </div>
</div>

<% include footer %>
