<form action="/scenario/add" method="POST">
  <div class="form-group">
    <label>シナリオ名</label>
    <input class="form-control" type="text" name="name">
  </div>
  <div class="form-group">
    <label>送信元メールアドレス</label>
    <input class="form-control" type="text" name="from">
  </div>
  <div class="form-group">
    <label>テンプレートの選択</label>
    <% include template-select %>
  </div>
  <div class="form-group">
    <label for="">添付ファイル</label>
    <% include attachment-select %>
  </div>
  <div class="form-group">
    <label>宛先グループ</label>
    <% include emailgroup-select %>
  </div>
  <input class="btn btn-default" type="submit" value="追加"/>
</form>
