<% if(cron){ %>
<table class="table">
  <tr>
    <th>シナリオ</th>
    <th>設定</th>
    <th>ステータス</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% cron.forEach(function(c){ %>
<tr>
  <td> <%= c.scenario.name %> </td>
  <td> <%= c.config %> </td>
  <td> <%= c.status %> </td>
  <% if(c.status !== 'removed'){ %>
  <td>
    <form action="/schedule/cron/<%= c.scenario.id %>" method="POST">
    <input type="hidden" name="cmd" value='start'>
    <input class="btn btn-xs btn-default" type="submit" value="起動">
    </form>
  </td>
  <td>
    <form action="/schedule/cron/<%= c.scenario.id %>" method="POST">
    <input type="hidden" name="cmd" value="stop">
    <input class="btn btn-xs btn-default" type="submit" value="停止">
    </form>
  </td>
  <td>
    <form action="/schedule/cron/<%= c.scenario.id %>" method="POST">
    <input type="hidden" name="cmd" value="remove">
    <input class="btn btn-xs btn-default" type="submit" value="削除">
    </form>
  </td>
  <% }else{ %>
  <td></td> <td></td> <td></td>
  <% }%>
</tr>
<% }) %>
<% } %>
</table>
