<% include header %>

<div class="container">

  <div class="page-header">
    <h2>スケジュール</h2>
  </div>

  <div class="row">

    <div class="panel panel-default">
      <div class="panel-heading">スケジュールの追加</div>
      <div class="panel-body">
        <% include schedule-add %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">予約実行</div>
      <% include schedule-at-list %>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">定期実行</div>
      <% include schedule-cron-list %>
    </div>

  </div>
</div>

<% include footer %>
