<form action="/schedule/add" method="POST">
  <div class="form-group">
    <label>シナリオ名</label>
    <% include scenario-select %>
  </div>
  <div class="form-group">
    <p>
      <input type="radio" name="schedule_type" value="at" checked="checked" name="radio-schedule-type-at">
      予約実行
    </p>
  </div>
  <div class="form-group">
    <div class="form-inline">
      <input size="5" class="form-control" type="text" name="config_at" placeholder="年" value="<%=  today.year %>">
      /
      <input size="5" class="form-control" type="text" name="config_at" placeholder="月" value="<%=  today.month %>">
      /
      <input size="5" class="form-control" type="text" name="config_at" placeholder="日" value="<%=  today.day %>">
      <input size="5" class="form-control" type="text" name="config_at" placeholder="時" value="<%=  today.hour %>">
      :
      <input size="5" class="form-control" type="text" name="config_at" placeholder="分" value="<%=  today.minute %>">
    </div>
  </div>
  <div class="form-group">
    <p>
      <input type="radio" name="schedule_type" value="cron" name="radio-schedule-type-cron">
      定期実行
    </p>
  </div>
  <div class="form-group">
    <div class="form-inline">
      <input class="form-control" type="hidden" name="config_cron" value="0" disabled="disabled">
      <select class="form-control" name="config_cron" disabled="disabled">
        <option value="*">*</option>
        <option value="0">0</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
      </select> 分,
      <select class="form-control" type="text" name="config_cron" placeholder="時" disabled="disabled">
        <option value="*">*</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
      </select> 時,
      <select class="form-control" type="text" name="config_cron" placeholder="日" disabled="disabled">
        <option value="*">*</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select> 日,
      <select class="form-control" type="text" name="config_cron" placeholder="月" disabled="disabled">
        <option value="*">*</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select> 月,
      <select class="form-control" type="text" name="config_cron" placeholder="曜日" disabled="disabled">
        <option value="*">*</option>
        <option value="0">日</option>
        <option value="1">月</option>
        <option value="2">火</option>
        <option value="3">水</option>
        <option value="4">木</option>
        <option value="5">金</option>
        <option value="6">土</option>
      </select> 曜日
    </div>
  </div>

  <input class="btn btn-default" type="submit" value="追加" />
</form>
