<% if(at){ %>
<table class="table">
  <tr>
    <th>シナリオ</th>
    <th>日時</th>
    <th>ステータス</th>
    <th></th>
  </tr>
<% at.forEach(function(a){ %>
<tr>
  <td> <%= a.scenario.name %> </td>
  <td> <%= a.date %> </td>
  <td> <%= a.status %> </td>
  <td>
    <% if(a.status !== 'done' && a.status !== 'removed'){ %>
      <form action="/schedule/at/<%= a.scenario.id %>" method="POST">
      <input type="hidden" name="cmd" value='remove'>
      <input class="btn btn-xs btn-default" type="submit" value="削除">
      </form>
    <% } %>
  </td>
</tr>
<% }) %>
<% } %>
</table>
