<% if(statistics){ %>
<table class="table">
  <tr>
    <th></th>
    <th>姓</th>
    <th>名</th>
    <th>email</th>
    <th>部署</th>
    <th>課</th>
    <th>メール開封</th>
    <th></th>
    <th>URLクリック</th>
    <th></th>
    <th>ファイル開封</th>
    <th></th>
  </tr>
  <% statistics.forEach(function(stat){ %>
  <% if(stat){ %>
  <tr>
    <td></td>
    <td><%= stat.lastname %></td>
    <td><%= stat.firstname %></td>
    <td><%= stat.email %></td>
    <td><%= stat.division1 %></td>
    <td><%= stat.division2 %></td>
    <td><%= stat.mailaccessed %></td>
    <td><%= stat.mailcount || 0 %>回</td>
    <td><%= stat.urlaccessed %></td>
    <td><%= stat.urlcount || 0 %>回</td>
    <td><%= stat.fileaccessed %></td>
    <td><%= stat.filecount || 0 %>回</td>
  </tr>
  <% } %>
  <% }) %>
</table>
<% } %>
