<% if(templates){ %>
<table class="table">
  <tr>
    <th>大項目</th>
    <th>中項目</th>
    <th>テンプレート名</th>
    <th>本文形式</th>
    <th></th>
    <th></th>
  </tr>
<% templates.forEach(function(template){ %>
  <tr>
    <td> <%= template.category1 %> </td>
    <td> <%= template.category2 %> </td>
    <td> <%= template.name %> </td>
    <td> <%= template.format %> </td>
    <td> <a class="btn btn-xs btn-warning" href="/template/operate/modify/<%= template.id %>">編集</a> </td>
    <td> <a class="btn btn-xs btn-info" href="/template/operate/duplicate/<%= template.id %>">複製</a> </td>
    <!--
    <td> <a class="btn btn-xs btn-danger" href="/template/operate/remove/<%= template.id %>">削除</a> </td>
    -->
  </tr>
<% }) %>
<% } %>
</table>
