<form action="/template/operate/<%= data.post %>" method="POST">
  <div class="form-group">
    <label>テンプレート名</label>
    <input class="form-control" type="text" name="name" value="<%= data.name %>">
  </div>
  <div class="form-group">
    <label>件名</label>
    <input class="form-control" type="text" name="subject" value="<%= data.subject %>">
  </div>
  <div class="form-group">
    <label>本文形式</label>
    <p>
      <input type="radio" name="format" value="HTML" checked="checked"> HTML
    </p><p>
      <input type="radio" name="format" value="plain"> テキスト
      <span class="text-muted"><small>テキスト形式のテンプレートはメールの開封を確認できません</small></span>
    </p>
  </div>
  <div class="form-group">
    <label>本文</label>
    <p class="text-muted">
   文書入力エリア下の各種ボタンをクリックすることで、クリック開封追跡タグ等の特殊文字列を挿入することができます。
    </p>
    <textarea class="form-control" id="template-text" name="text" cols="30" rows="10"><%= data.text %></textarea>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-sm btn-default" id="button-add-lastname">苗字</button>
    <button type="button" class="btn btn-sm btn-default" id="button-add-firstname">名前</button>
    <button type="button" class="btn btn-sm btn-default" id="button-add-division1">部署</button>
    <button type="button" class="btn btn-sm btn-default" id="button-add-division2">課</button>
    <button type="button" class="btn btn-sm btn-default" id="button-add-click-url">クリック追跡用URL</button>
    <button type="button" class="btn btn-sm btn-default" id="button-add-open-tag">開封追跡用タグ</button>
  </div>
  <div class="form-group">
  <% if(data.post === 'add'){ %>
    <input type="hidden" name="category1" value="個別">
    <input type="hidden" name="category2" value="個別">
  <% }else if(data.post === 'duplicate'){ %>
    <input type="hidden" name="category1" value="個別">
    <input type="hidden" name="category2" value="個別">
  <% }else{ %>
    <input type="hidden" name="id" value="<%= data.id %>">
  <% } %>
  </div>
  <% if(data.post === 'add'){ %>
  <input class="btn btn-default" type="submit" value="追加"/>
  <% }else if(data.post === 'modify'){ %>
  <input class="btn btn-warning" type="submit" value="編集" />
  <% }else if(data.post === 'duplicate'){ %>
  <input class="btn btn-info" type="submit" value="複製" />
  <% }else if(data.post === 'remove'){ %>
  <input class="btn btn-denger" type="submit" value="削除" />
  <% } %>
</form>
