<% include header %>

<div class="container">

  <div class="page-header">
    <h2><%= title %></h2>
  </div>

  <div class="row">

    <% if(data.post === 'add'){ %>
    <div class="panel panel-default">
    <% }else if(data.post === 'modify'){ %>
    <div class="panel panel-warning">
    <% }else if(data.post === 'duplicate'){ %>
    <div class="panel panel-info">
    <% } %>

      <% if(data.post === 'add'){ %>
      <div class="panel-heading">テンプレートの追加</div>
      <% }else if(data.post === 'modify'){ %>
      <div class="panel-heading">テンプレートの編集</div>
      <% }else if(data.post === 'duplicate'){ %>
      <div class="panel-heading">テンプレートの複製</div>
      <% } %>
      <div class="panel-body">
        <% include template-add %>
      </div>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading">テンプレート一覧</div>
      <% include template-list %>
    </div>

  </div>
</div>

<% include footer %>
