<% include header %>
<div class="container">

  <div class="page-header">
    <h2>送信テスト</h2>
  </div>

  <div class="row">

    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline" action="/send" method="POST">
          <div class="form-group">
            <label for="">宛先メールアドレス</label>
            <input class="form-control" type="text" name="email">
          </div>
          <div class="form-group">
            <label for="">テンプレート</label>
            <% include template-select %>
          </div>
          <input class="btn btn-default" type="submit" />
        </form>
      </div>
    </div>

  </div>
</div>

<% include footer %>
