<% include header %>

<div class="container">
  <div class="row">

    <div class="page-header">
      <h2><%= title %></h2>
    </div>

    <form action="/user/queue/add" method="POST">

      <p>
        追加される宛先を確認し、問題なければ確定をクリックしてください。
      </p><p>
        <input type="submit" class="btn btn-default" value="確定">
      </p>

      <hr>

      <p>
        <button class="btn btn-default btn-xs" type="button" id="button-checkall">全てチェック</button>
        <button class="btn btn-default btn-xs" type="button" id="button-uncheckall">全て外す</button>
      </p>

      <% if(adds.length > 0){ %>
      <p>
        以下の宛先は正常に追加されます。
        追加しない場合はチェックを外してください。
      </p>
      <div class="panel panel-default panel-info">
        <div class="panel-heading">追加されます</div>
        <%- include('user-list', {
        users: adds,
        config: {checkbox: true, checkboxDefaultChecked: true, checkboxChangeName: 'addId'}}) %>
      </div>
      <% } %>

      <% if(dups.length > 0){ %>
      <p>
        以下の宛先は既に追加されています (メールアドレスの重複)。
        既存の宛先を上書きするには該当の宛先をチェックしてください。
      </p>
      <div class="panel panel-default panel-warning">
        <div class="panel-heading">重複</div>
        <%- include('user-list', {
        users: dups,
        config: {checkbox: true, checkboxChangeName: 'modId'}}) %>
      </div>
      <% } %>

      <% if(errs.length > 0){ %>
      <p>
        以下の宛先はメールアドレスが不正です。
        追加されません。
      </p>
      <div class="panel panel-default panel-danger">
        <div class="panel-heading">不正なメールアドレス</div>
        <%- include('user-list', {users: errs}) %>
      </div>
      <% } %>

      <p>
        <input type="submit" class="btn btn-default" value="確定">
      </p>

    </form>

  </div>
</div>

<% include footer %>
