<% include header %>

<div class="container">

  <div class="page-header">
    <h2><%= title %></h2>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">宛先を追加</div>
        <div class="panel-body">
          <div class="text-muted">
            個別の宛先を追加します。
            宛先が既に存在する場合(emailが既存と重複する場合)は、上書きすることもできます。
          </div>
        </div>
        <div class="panel-body">
          <% include user-add %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">CSVから宛先を追加</div>
        <div class="panel-body">
          <div class="text-muted">
            <p>
            CSVファイルから宛先を一括追加します。
            左から「姓,名,email,部署,課」の順で、区切り文字はカンマ「,」とします。
            </p>
            <p>
            以下はCSVファイルの例です。
            </p>
            <div class="well">
              山田,太郎,taro_yamada@exapmle.com,営業部,2課 <br>
              takeda,masahiro,masahiro_takeda@example.co.jp,営業部,2課 <br>
              佐藤,太郎,sato_taro@example.com,営業部,2課 <br>
              佐藤,太郎,sato_taro2@example.com,営業部,2課 <br>
            </div>
          </div>
          <% include user-upload %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">宛先一覧</div>
      <div class="panel-body">
        <div class="text-muted">
          <p>
            既に登録済のすべての宛先を以下に表示しています。
            宛先を編集するには、下記の宛先と重複するemailを持つ宛先を追加することで上書き保存することができます。
          </p>
        </div>
      </div>
      <% include user-list %>
    </div>
  </div>

</div>

<% include footer %>
