<% if(users.length > 0){ %>
<table class="table">
  <tr>
    <th><%= config.checkboxName %></th>
    <th>姓</th>
    <th>名</th>
    <th>mail</th>
    <th>部署</th>
    <th>課</th>
    <% if(config.buttons){ %>
      <th></th>
      <th></th>
      <th></th>
    <% } %>
  </tr>
  <% users.forEach(function(user, i){ %>
  <% config.checkboxChangeName = config.checkboxChangeName || 'userId' %>
  <tr>
    <% if(config.checkboxDefaultChecked){ %>
      <th><input type="checkbox" name="<%= config.checkboxChangeName %>" value="<%= user.id %>" checked="checked"> <%= config.checkboxHelpText %></th>
    <% }else if(config.checkbox){ %>
      <td>
        <input type="checkbox" name="<%= config.checkboxChangeName %>" value="<%= user.id %>">
      </td>
    <% }else{ %>
    <td></td>
    <% } %>
    <td><%= user.lastname %></td>
    <td><%= user.firstname %></td>
    <td><%= user.email %></td>
    <td><%= user.division1 %></td>
    <td><%= user.division2 %></td>
    <% if(config.buttons){ %>
      <td><a class='btn btn-warning btn-xs' href="/user/modify/<%= user.id %>">編集</button></a></td>
      <td><a class='btn btn-info btn-xs' href="/user/add/<%= user.id %>">複製</button></a></td>
      <td><a class='btn btn-danger btn-xs' href="/user/remove/<%= user.id %>">削除</button></a></td>
    <% } %>
  </tr>
  <% }); %>
</table>
<% } %>
