<form method="POST" action="/user/add">
  <div class="form-group">
    <label for="">姓</label>
    <input class="form-control" type="text" name="lastname">
  </div>
  <div class="form-group">
    <label for="">名</label>
    <input class="form-control" type="text" name="firstname">
  </div>
  <div class="form-group">
    <label for="">email</label>
    <input class="form-control" type="text" name="email">
  </div>
  <div class="form-group">
    <label for="">部署</label>
    <input class="form-control" type="text" name="division1">
  </div>
  <div class="form-group">
    <label for="">課</label>
    <input class="form-control" type="text" name="division2">
  </div>
  <input type="submit" class="btn btn-default" value="追加">
</form>
