<form method="POST" enctype="multipart/form-data" action="/user/upload">
  <div class="form-group">
    <label for="">csvファイルの選択</label>
    <input class="" type="file" name="emails" />
  </div>
  <input class="btn btn-default" type="submit" value="アップロード" />
</form>
