{
  "fqdn": "{{ fqdn.stdout }}",
  "port": "8080",
  "mail": {
    "replyTo":  "masahiro_takeda@crosshead.co.jp",
    "interval": "500"
  },
  "db": {
    "host": "localhost",
    "user": "{{ dbuser }}",
    "password": "{{ dbpass }}",
    "database": "{{ dbname }}",
    "multipleStatements": "true"
  },
  "production": "false"
}
