



.danger {
	padding: 40px 35px;
	font-size: 5em;
	font-weight: bold;
	line-height: 100%;
	color: #FFFF00;
	background-color: #000000;
	background-image: url("../images/caution.png");
	background-size:cover;
}

.pagetitle{
	padding: 30px 20px;
	font-size: large;
	font-weight: bold;
	line-height: 100%;
	color: #ffffff;
	background-color: #112266;
}
/* doc -----*/

div#main div.doc {
	margin: 20px 30px 0;
	font-size: 12px;
}

div#main div.doc table {
	margin-top: 10px;
	border-top: 10px solid #112266;
}

div#main div.doc table thead th {
	padding: 5px;
	color: #ffffff;
	background-color: #112266;
	vertical-align: middle;
	text-align: center;
}

div#main div.doc table th {
	padding: 5px;
	background-color: #eeeeee;
	vertical-align: middle;
	text-align: center;
}

div#main div.doc table td {
	padding: 5px;
	background-color: #f6f6f6;
	vertical-align: middle;
}

div#main div.doc a {
	text-decoration: underline;
}

div#main div.doc img {
border-style:none;
}

div#main div.doc a:hover {
	text-decoration: none;
}

div#main div.doc a:visit {
	text-decoration: none;
}